#landing-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: transparent;
  width: 100vw;
  height: calc(100vh - 4.2rem);
}

#landing-content img {
  margin-top: 10rem;
  width: 25rem;
}

#playing-music-svg-container {
  background-color: #7FC7D9;
  border-radius: 50%;
  height: 2.2rem;
  width: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  cursor: pointer;
}

.black-bg {
  background-color: #0F1035 !important; 
}

#playing-music-svg-container svg {
  padding: 2.5px;
}


@media (min-width: 350px) and (max-width: 499px) {
  #landing-content img {
    width: 20rem;
  }
}

@media (max-width: 349px){
  #landing-content img {
    width: 15rem;
  }
}

@media (max-width: 599px){
  #playing-music-svg-container {
    left: 1rem;
    bottom: 1rem;
  }
}