#landing-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: transparent;
  width: 100vw;
  height: calc(100vh - 4.2rem);
}

#landing-content img {
  width: 50vw;
  margin-top: 5rem;
}

.black-bg {
  background-color: #0F1035 !important; 
}


@media (max-width: 400px){
  #landing-content img {
    width: 95vw;
  }
} 