svg {
  width: 1.3rem;
  height: 1rem;
}

#playing-music #line1 {
  animation: changeMatrixValue1 0.5s infinite alternate;
  animation-delay: 0.4s;
}

@keyframes changeMatrixValue1 { 
  to { 
        transform: matrix(1, 0, 0, 0.9409, 0, 4.5456);
  }
}


#playing-music #line2 {
  animation: changeMatrixValue2 0.5s infinite alternate;
  animation-delay: 0.2s;
}

@keyframes changeMatrixValue2 { 
  to { 
        transform: matrix(1, 0, 0, 0.9409, 0, 8.5456);
  }
}

#playing-music #line3 {
  animation: changeMatrixValue3 0.5s infinite alternate;
  animation-delay: 0.1s;
}

@keyframes changeMatrixValue3 {
  to { 
        transform: matrix(1, 0, 0, 0.9409, 0, 1.5456);
  }
}


#playing-music #line4 {
  animation: changeMatrixValue4 0.5s infinite alternate;
  animation-delay: 0.3s;
}

@keyframes changeMatrixValue4 {
   to { 
        transform: matrix(1, 0, 0, 0.9409, 0, 6.5456);
  }
}

#playing-music #line5 {
  animation: changeMatrixValue5 0.5s infinite alternate;
  animation-delay: 0.2s;
}

@keyframes changeMatrixValue5 {  
  to { 
        transform: matrix(1, 0, 0, 0.9409, 0, 4.5456);
  }
} 

#playing-music-svg-container {
  background-color: #7FC7D9;
  border-radius: 50%;
  height: 2.2rem;
  width: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 2rem;
  bottom: 1.3rem;
  cursor: pointer;
  z-index: 4;
}

#playing-music-svg-container svg {
  padding: 2.5px;
}

@media (max-width: 599px){
  #playing-music-svg-container {
    left: 1rem;
  }
}