#cover-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;  
  align-items: center;
  justify-content: center;
  z-index: 12000; 
  background-color: #7FC7D9;
  overflow: hidden;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;  
  color: #0F1035;
}

#loader-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 2rem;
  height: 13rem;
}

#loader-content h3 {
  font-size: 3rem;
  margin-top: 1rem;
  font-weight: 900;
}

#cover-container #enter-without-audio {
  position: relative;
  bottom: -10rem;
  text-decoration: underline;
  cursor: pointer;
}

#enter-button {
  cursor: pointer;
  background-color: #0F1035;
  padding: 0.4rem 0.8rem;
  color: #DCF2F1;
  border-radius: 5px;
  font-size: 1.4rem;
  box-shadow: 0 8px #365486;
  margin-top: 1rem;
}

#enter-button:active {
  box-shadow: 0 5px #365486;
  transform: translateY(4px);
}

#enter-without-audio {
  text-transform: uppercase;
  font-size: 0.8rem;
  position: absolute !important;
  bottom: 1rem !important;
}

#gensynth-logo{
  height: 81px;
  width: 81px;
}

.hide{
  display: hidden;
}

#loader-logo {
  height: 80px;
}

#loader {
  display: flex;
  align-items: center;
}

.bar {
  display: inline-block;
  width: 8px;
  height: 40px;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 10px;
  animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
  height: 80px;
  margin: 0 8px;
  animation-delay: .25s;
}

.bar:nth-child(3) {
  animation-delay: .5s;
}

@keyframes scale-up4 {
  20% {
    background-color: #DCF2F1;
    transform: scaleY(1.5);
  }

  40% {
    transform: scaleY(1);
  }
}