.about-container {
  color: black;
  height: fit-content;
  min-height: 100vh;
  width: 100vw;
  border-radius: 1vh;
  padding: 10px;
  background-position: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  animation: loading 2s ease-out;
}

.content-outside-container {
  position: relative;
  height: fit-content;
  width: 91vw;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 91vw;
  background-color: rgb(255, 255, 255, 0.7);
  border-radius: 10px;
}

.content-container {
  width: 90vw;
  max-width: 90vw;
  /* background-color: rgba(240, 248, 255, 0.3); */
  height: fit-content;
  min-height: 35rem;
  padding: 30px;
}

.content-outside-container:before,
.content-outside-container:after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(
    45deg,
    #dcf2f1,
    #7fc7d9,
    #365486,
    #0f1035,
    #7fc7d9,
    #dcf2f1,
    #365486
  );
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  border-radius: 10px;
  animation: steam 12s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.content-outside-container:after {
  filter: blur(50px);
}

/* .content-container > h1 {
  text-align: center;
}

.content-container > p {
  margin-top: 20px;
  font-size: 20px;
  text-align: justify;
  font-weight: 580;
} */

.left-container,
.right-container {
  margin-block: 20px;
  width: 100%;
}

.left-container > img,
.right-container > img {
  height: 200px;
}

.left-container {
  margin-left: 40px;
}

.right-container {
  margin-right: 40px;
}

.left-container > p {
  border-left: 2px solid black;
  padding: 10px;
}

.right-container > p {
  border-right: 2px solid black;
  padding: 10px;
}
