.about-container {
  color: black;
  height: fit-content;
  min-height: 100vh;
  width: 100vw;
  border-radius: 1vh;
  padding: 10px;
  background-position: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  animation: loading 2s ease;
}

.content-outside-container {
  position: relative;
  height: fit-content;
  width: 91vw;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 91vw;
  background-color: rgb(255, 255, 255, 0.7);
  border-radius: 10px;
}

.content-container {
  width: 90vw;
  max-width: 90vw;
  /* background-color: rgba(240, 248, 255, 0.3); */
  height: fit-content;
  min-height: 35rem;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container > h1 {
  color: #365486;
}

.content-outside-container:before,
.content-outside-container:after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(
    45deg,
    #dcf2f1,
    #7fc7d9,
    #365486,
    #0f1035,
    #7fc7d9,
    #dcf2f1,
    #365486
  );
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  border-radius: 10px;
  animation: steam 12s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.content-outside-container:after {
  filter: blur(50px);
}

.sub-container {
  /* margin-block: 60px; */
  width: 100%;
  display: flex;
  /* align-items: center; */
  /* justify-content: space-evenly; */
  /* border: 2px solid black; */
  /* padding: 10px; */
  /* background-color: #7fc7d9; */
  min-height: 90vh;
}

.sub-container > div {
  width: 50%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

@media (max-width: 900px) {
  .sub-container {
    flex-direction: column;
  }

  .sub-container > div {
    width: 100%;
  }

  .sub-container > div > img {
    max-height: 200px;
    max-width: 200px;
    object-fit: cover;
  }

  .right-container {
    flex-direction: column-reverse;
  }
}

.sub-container > div > img {
  width: 60%;
}

.sub-container-text {
  /* background-color: wheat; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sub-container > div > h2 {
  margin-bottom: 20px;
}

.sub-container > div > p {
  text-align: justify;
  font-size: large;
}
