.EventCard {
  width: 300px;
  height: 300px;
  perspective: 800px;
  margin: 20px;
  padding: 20px;
  font-family: "Montserrat";
  font-weight: 300;
  /* From https://css.glass */
  background: linear-gradient(
    90deg,
    rgba(54, 84, 134, 0.3),
    rgba(220, 242, 241, 0.3)
  );
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
  
.EventCard .card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 800ms;
}

@media (hover: hover){
  .EventCard:hover > .card {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition-delay: 0.25s;
  }
}

.EventCard .front {
  background-image: url("src/assets/photos/young-adult-playing-futuristic-virtual-reality-game-generated-by-ai_188544-32742.jpg");
  background-size: cover;
  background-position: center;
}

.EventCard .front,
.EventCard .back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 5px 1px rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
}

.EventCard .back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #dcf2f1, #7fc7d9);
  transform: rotateY(180deg);
  gap: 2rem;
}
