#expand-nav-wrapper {
  background-color: #7FC7D9;
  width: 0vw;
  height: 100vh;
  display: none;
  position: absolute;
  top: 0;
  left: 100vw;
  flex-direction: column;
  justify-content: space-between;
  z-index: 5;
}

.on-expand {
  width: 100vw !important;
  display: flex !important;
  left: 0 !important;
}

#expand-nav-header {
  display: flex;
  height: 4.2rem;
  justify-content: space-between;  
  align-items: center;
  padding: 1rem 1.5rem;
}

#expand-logo {
  height: 1.7rem;
}

#expand-nav {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 11.5rem;
}

.expand-nav-item {
  text-decoration: none;
  font-size: 3.2rem;
  color: #0F1035;
  font-family: 'Playfair Display', serif;
  transition: all 0.3s ease-out;
}

.expand-nav-item:hover span{
  font-style: italic;
}

.expand-nav-item sup {
  transition: margin-right 0.3s ease-out;
}

.expand-nav-item:hover sup {
  margin-right: 1rem;
}

sup {
  position: relative;
  top: -0.4rem;
  margin-right: 0.2rem;
  font-size: 1.2rem;
}

#cross {
  height: 2.2rem;
  width: 2.2rem;
  padding: 0.7rem;
}

#cross-container {
  background-color: #0F1035;
  border-radius: 50%;
  height: 2.2rem;
  width: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cross-container:hover {
  cursor: pointer;
}

#connect {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  font-family: 'Montserrat', sans-serif;
}

#connect a {
  text-decoration: none;
  color: #0F1035;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 0.8rem;
  width: 12rem;
  margin-left: 2rem;
}

.arrow {
  width: 10px;
  height: 10px;
  display: none;
}

#socials{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 0.7rem;
  width: 5.6rem;
}

#connect a:hover > .arrow {
  display:initial;
  margin-right: 0.5rem; 
}

@media (max-width: 599px) {
  #expand-nav-header {
    padding: 1rem;
  }

  #socials {
    width: max-content;
    font-size: 0.6rem;
  }

  #contact {
    width: max-content;
    margin-left: 0;
    font-size: 0.7rem;
  }

  #connect {
    padding: 1.5rem;
  }
}

.underline {
  text-decoration: underline;
}

.focus {
  color: #365486;
}
