#footer-visual-container {
  height: 3rem;
  width: 100vw;
  position: fixed;
  /* background-color: #0f1035; */
  opacity: 0.2;
  bottom: 0.95rem;
  z-index: 2;
}

#footer-socials img {
  width: 2.2rem;
}

#footer-socials:hover {
  pointer-events: visible;
}

#footer-socials {
  display: flex;
  width: 10rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 1.15rem;
  right: 2rem;
  z-index: 4;
}

@media (max-width: 599px) {
  #footer-socials {
    right: 1rem;
    width: 8rem;
  }
}
