.login-container {
  height: 100vh;
  width: 100vw;
  position: relative;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
  font-family: "Montserrat", sans-serif;
  animation: loading 1.5s ease;
}

@keyframes loading {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
  }
}

.login-version-logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  rotate: 270deg;
  transform: translateX(-45%) translateY(-140%);
  animation: flicker 4s infinite;
}

.login-theme-logo {
  height: 40px;
  position: absolute;
  bottom: 0;
  right: 0;
  rotate: 90deg;
  transform: translate(-55%, -70%);
  animation: flicker 2s infinite;
}

.login-form-container {
  position: relative;
  height: 80vh;
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  border-radius: 10px;
}

.login-form-container:before,
.login-form-container:after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(
    45deg,
    #dcf2f1,
    #7fc7d9,
    #365486,
    #0f1035,
    #7fc7d9,
    #dcf2f1,
    #365486
  );
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 12s linear infinite;
  border-radius: 10px;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.login-form-container:after {
  filter: blur(50px);
}

.login-form-container > form {
  background-color: white;
  height: 80vh;
  width: 72vw;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-block: 7vh;
  border-radius: 10px;
}

.login-form-container > form > h2 {
  font-weight: 900;
  text-transform: uppercase;
  color: #365486;
}

.login-form-container > form > input {
  height: 50px;
  width: 250px;
  /* border-radius: 5px; */
  border: none;
  background-color: white;
  padding: 5px;
  outline: none;
  border-bottom: 0.1rem solid #365486;
}

.login-form-container > form > input:hover {
  background-color: rgba(255, 255, 255, 0.721);
}

.login-form-container > form > input:focus {
  border: 0.1rem solid #365486;
  border-radius: 5px;
}

.login-form-container > form > input::placeholder {
  color: rgba(54, 84, 134, 0.7);
  font-weight: bold;
}

.forgot-password {
  text-decoration: none;
  color: #365486;
  cursor: pointer;
}

.forgot-password:visited {
  color: #365486;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  7% {
    opacity: 0.2;
  }
  10% {
    opacity: 0.6;
  }
  20% {
    opacity: 1;
  }
  23% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.3;
  }
  45% {
    opacity: 0.8;
  }
  51% {
    opacity: 0.3;
  }
  58% {
    opacity: 0.9;
  }
  65% {
    opacity: 1;
  }
  77% {
    opacity: 0.6;
  }
  83% {
    opacity: 0.7;
  }
  95% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.submit-button {
  background-color: #7fc7d9;
  border: none;
  height: 50px;
  width: 100px;
  color: #365486;
  font-weight: 600;
  font-size: medium;
  cursor: pointer;
  box-shadow: 0 5px #365486;
  border-radius: 5px;
}

.submit-button:active {
  box-shadow: none;
  transform: translateY(5px);
}

.register-redirect {
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  background-color: #0f1035;
  color: #dcf2f1;
  border-radius: 5px;
}

.forgot-password-box {
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  border: 2px solid yellow;
  height: 200px;
  width: 400px;
  background-color: #dcf2f1;
  color: #0f1035;
}

@media (max-width: 600px) {
  .login-form-container {
    position: absolute;
    height: 55vh;
    width: 99vw;
    max-width: 99vw;
  }

  .login-form-container form {
    height: 55vh;
    width: 99vw;
    max-width: 99vw;
  }
}
