.forgot-password-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  font-family: "Montserrat", sans-serif;
}

.forgot-inner-container {
  height: 19rem;
  width: 25rem;
  background-color: white;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  position: relative;
}

.forgot-inner-container:before,
.forgot-inner-container:after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(
    45deg,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000
  );
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.forgot-inner-container:after {
  filter: blur(50px);
}

.forgot-inner-container > * {
  margin-block: 8px;
}

.forgot-inner-container > form {
  display: flex;
  flex-direction: column;
}

.forgot-inner-container > form > * {
  margin-block: 5px;
}

.forgot-inner-container > form > input {
  width: 350px;
  height: 30px;
  padding: 5px;
}

.forgot-inner-container > form > input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  appearance: none;
}

.forgot-inner-container > form > button {
  width: 350px;
  height: 30px;
  font-weight: 700;
  background-color: rgb(0, 132, 255);
  border: none;
  color: white;
  cursor: pointer;
}

@media (max-width: 600px) {
  .forgot-inner-container {
    width: 100vw;
  }
}

.signup-redirect {
  margin-left: 5px;
  text-decoration: none;
  color: rgb(0, 145, 255);
}

.signup-redirect:visited {
  color: rgb(0, 145, 255);
}
