* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overscroll-behavior: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #0F1035; 
}
 
::-webkit-scrollbar-thumb {
  background: #7FC7D9; 
}
